[Desktop Entry]
Type=Application
Exec=/mnt/0/gthb/exercise/strtscrpt-fedora
Hidden=false
X-GNOME-Autostart-enabled=true
Name[en_US]=autstrt
Name=autstrt
