[Unit]
Description=simple cleanup
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/etc/rc.d/init.d/shtdwnscrpt

[Install]
WantedBy=multi-user.target
