[Unit]
Description=update system preferably after dnfdragora finished checking update
After=syslog.target network.target network-online.target auditd.service
AssertPathExists=/home/r

[Service]
#Type=forking
#Type=simple

#sudo: effective uid is not 0, is /usr/bin/sudo on a file system with the 'nosuid' option set or an NFS file system without root privileges? (better not set User and Group)
#User=nobody
#User=r
#Group=adm

PrivateTmp=true
NoNewPrivileges=true
StandardInput=null
WorkingDirectory=/home/r
ExecStart=/mnt/0/gthb/xrcs/sysupdate.sh

#ExecStart=/home/r/.config/systemd/user/sysupdate.sh

#Restart=on-failure

[Install]
#WantedBy=multi-user.target
WantedBy=default.target
