[Unit]
Description=update system preferably after dnfdragora finished checking update
After=syslog.target network.target network-online.target auditd.service
AssertPathExists=/home/r

[Service]
#Type=forking
#Type=simple
#User=nobody
User=r
Group=r
PrivateTmp=true
NoNewPrivileges=true
StandardInput=null
WorkingDirectory=/home/r
ExecStart=/mnt/0/gthb/xrcs/sysupdate.sh
#Restart=on-failure

[Install]
WantedBy=multi-user.target
