[Unit]
Description=update system preferably after dnfdragora finished checking update
#After=network.target
After=network-online.target

[Service]
Type=idle
StandardInput=null
ExecStart=/mnt/0/gthb/xrcs/sysupdate.sh

[Install]
WantedBy=multi-user.target
